LoadPrediction/ProcessedData/*.csv
LoadPrediction/RawData/*.xlsx
.spyproject/
DataAcquisition/Weather/data/hourly/*.csv
DataAcquisition/Weather/data/minutely/*.csv
*.csv
**/.ipynb_checkpoints
**/__pycache__
**.h5

